openapi: 3.0.3
info:
  title: API.Rasp.Yandex.Net
  description: API Яндекс.Расписаний
  version: 3.0.0
servers:
- url: https://api.rasp.yandex.net
tags:
- name: getSearch
  description: Запрос позволяет получить список рейсов, следующих от указанной станции отправления к указанной станции прибытия и информацию по каждому рейсу.
- name: getSchedule
  description: Запрос позволяет получить список рейсов, отправляющихся от указанной станции и информацию по каждому рейсу.
- name: getThread
  description: Запрос позволяет получить список станций следования нитки по указанному идентификатору нитки, информацию о каждой нитке и о промежуточных станциях нитки.
- name: getNearestStations
  description: Запрос позволяет получить список станций, находящихся в указанном радиусе от указанной точки.
- name: getNearestSettlement
  description: Запрос позволяет получить информацию о ближайшем к указанной точке городе.
- name: getCarrier
  description: Запрос позволяет получить информацию о перевозчике по указанному коду перевозчика.
- name: getStationsList
  description: Ресурс содержит полный список станций.
- name: getCopyright
  description: Запрос позволяет получить данные о Яндекс Расписаниях.
paths:
  /v3.0/search/:
    get:
      tags:
      - getSearch
      summary: Расписание рейсов между станциями
      operationId: getSearch
      parameters:
      - name: apikey
        in: query
        description: API key
        required: true
        schema:
          type: string
      - name: from
        in: query
        description: Код станции отправления
        required: true
        schema:
          type: string
      - name: to
        in: query
        description: Код станции прибытия
        required: true
        schema:
          type: string
      - name: format
        in: query
        description: json или xml
        required: false
        schema:
          type: string
          enum:
            - json
            - xml
          default: json
      - name: lang
        in: query
        description: lang
        required: false
        schema:
          type: string
      - name: date
        in: query
        description: date YYYY-MM-DD
        required: false
        schema:
          type: string
      - name: transport_types
        in: query
        description: Тип транспортного средства.
        required: false
        schema:
          type: string
          enum:
            - plane
            - train
            - suburban
            - bus
            - water
            - helicopter
      - name: system
        in: query
        description: Система кодирования (параметры form, to)
        required: false
        schema:
          type: string
          enum:
            - yandex
            - iata
            - sirena
            - express
            - esr
          default: yandex
      - name: show_systems
        in: query
        description: Система кодирования (результат поиска)
        required: false
        schema:
          type: string
          enum:
            - yandex
            - esr
          default: yandex
      - name: offset
        in: query
        description: Смещение относительно первого результата поиска. Значение по умолчанию — 0.
        required: false
        schema:
          type: integer
      - name: limit
        in: query
        description: Смещение относительно первого результата поиска. Значение по умолчанию — 100.
        required: false
        schema:
          type: integer
      - name: add_days_mask
        in: query
        description: Признак, который указывает, что для каждой нитки в ответе следует вернуть календарь хождения.
        required: false
        schema:
          type: boolean
          default: false
      - name: result_timezone
        in: query
        description: Часовой пояс
        required: false
        schema:
          type: string
      - name: transfers
        in: query
        description: Признак, разрешающий добавить к результатам поиска маршруты с пересадками.
        required: false
        schema:
          type: boolean
          default: false
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoutesList'
  /v3.0/schedule/:
    get:
      tags:
      - getSchedule
      summary: Расписание рейсов по станции
      operationId: getSchedule
      parameters:
      - name: apikey
        in: query
        description: API key
        required: true
        schema:
          type: string
      - name: station
        in: query
        description: Код станции
        required: true
        schema:
          type: string
      - name: lang
        in: query
        description: lang
        required: false
        schema:
          type: string
      - name: format
        in: query
        description: json или xml
        required: false
        schema:
          type: string
          enum:
            - json
            - xml
          default: json
      - name: date
        in: query
        description: date YYYY-MM-DD
        required: false
        schema:
          type: string
      - name: transport_types
        in: query
        description: Тип транспортного средства.
        required: false
        schema:
          type: string
          enum:
            - plane
            - train
            - suburban
            - bus
            - water
            - helicopter
      - name: direction
        in: query
        description: Код направления
        required: false
        schema:
          type: string
      - name: event
        in: query
        description: Событие, для которого нужно отфильтровать нитки в расписании.
        required: false
        schema:
          type: string
          enum:
            - departure
            - arrival
          default: departure
      - name: system
        in: query
        description: Система кодирования
        required: false
        schema:
          type: string
          enum:
            - yandex
            - iata
            - sirena
            - express
            - esr
          default: yandex
      - name: result_timezone
        in: query
        description: Часовой пояс
        required: false
        schema:
          type: string
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduleStation'
  /v3.0/thread/:
    get:
      tags:
      - getThread
      summary: Список станций следования
      operationId: getThread
      parameters:
      - name: apikey
        in: query
        description: API key
        required: true
        schema:
          type: string
      - name: uid
        in: query
        description: Идентификатор нитки
        required: true
        schema:
          type: string
      - name: from
        in: query
        description: Код станции отправления
        required: false
        schema:
          type: string
      - name: to
        in: query
        description: Код станции прибытия
        required: false
        schema:
          type: string
      - name: format
        in: query
        description: json или xml
        required: false
        schema:
          type: string
          enum:
            - json
            - xml
          default: json
      - name: lang
        in: query
        description: lang
        required: false
        schema:
          type: string
      - name: date
        in: query
        description: date YYYY-MM-DD
        required: false
        schema:
          type: string
      - name: show_systems
        in: query
        description: Система кодирования (результат поиска)
        required: false
        schema:
          type: string
          enum:
            - yandex
            - esr
            - all
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThreadList'
  /v3.0/nearest_stations/:
    get:
      tags:
      - getNearestStations
      summary: Список ближайших станций
      operationId: getNearestStations
      parameters:
      - name: apikey
        in: query
        description: API key
        required: true
        schema:
          type: string
      - name: lat
        in: query
        description: широта
        required: true
        schema:
          type: number
      - name: lng
        in: query
        description: долгота
        required: true
        schema:
          type: number
      - name: distance
        in: query
        description: радиус охвата
        required: true
        schema:
          type: integer
      - name: format
        in: query
        description: json или xml
        required: false
        schema:
          type: string
          enum:
            - json
            - xml
          default: json
      - name: lang
        in: query
        description: lang
        required: false
        schema:
          type: string
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Stations'
  /v3.0/nearest_settlement/:
    get:
      tags:
      - getNearestSettlement
      summary: Ближайший город
      operationId: getNearestSettlement
      parameters:
      - name: apikey
        in: query
        description: API key
        required: true
        schema:
          type: string
      - name: lat
        in: query
        description: широта
        required: true
        schema:
          type: number
      - name: lng
        in: query
        description: долгота
        required: true
        schema:
          type: number
      - name: distance
        in: query
        description: радиус охвата
        required: false
        schema:
          type: integer
      - name: lang
        in: query
        description: lang
        required: false
        schema:
          type: string
      - name: format
        in: query
        description: json или xml
        required: false
        schema:
          type: string
          enum:
            - json
            - xml
          default: json
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Settlement'
  /v3.0/carrier/:
    get:
      tags:
      - getCarrier
      summary: Информация о перевозчике
      operationId: getCarrier
      parameters:
      - name: apikey
        in: query
        description: API key
        required: true
        schema:
          type: string
      - name: code
        in: query
        description: Код перевозчика
        required: true
        schema:
          type: string
      - name: system
        in: query
        description: Система кодирования
        required: false
        schema:
          type: string
          enum:
            - yandex
            - iata
            - sirena
            - express
            - esr
          default: yandex
      - name: format
        in: query
        description: json или xml
        required: false
        schema:
          type: string
          enum:
            - json
            - xml
          default: json
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Carriers'
  /v3.0/stations_list/:
    get:
      tags:
      - getStationsList
      summary: Список всех доступных станций
      operationId: getStationsList
      parameters:
      - name: apikey
        in: query
        description: API key
        required: true
        schema:
          type: string
      - name: lang
        in: query
        description: lang
        required: false
        schema:
          type: string
      - name: format
        in: query
        description: json или xml
        required: false
        schema:
          type: string
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StationsList'
            text/html:
              schema:
                $ref: '#/components/schemas/StationsList'
  /v3.0/copyright/:
    get:
      tags:
      - getCopyright
      summary: Копирайт Яндекс Расписаний
      operationId: getCopyright
      parameters:
      - name: apikey
        in: query
        description: API key
        required: true
        schema:
          type: string
      - name: format
        in: query
        description: json или xml
        required: false
        schema:
          type: string
          enum:
            - json
            - xml
          default: json
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Copyright'
components:
  schemas:
    Stations:
      type: object
      properties:
        pagination:
          $ref: '#/components/schemas/Pagination'
        stations:
          type: array
          items:
            $ref: '#/components/schemas/Station'
    Pagination:
      type: object
      properties:
        total:
          type: integer
        limit:
          type: integer
        offset:
          type: integer
    Station:
      type: object
      properties:
        type:
          type: string
        title:
          type: string
        short_title:
          type: string
        popular_title:
          type: string
        code:
          type: string
        lat:
          type: number
        lng:
          type: number
        station_type:
          type: string
        station_type_name:
          type: string
        transport_type:
          type: string
        distance:
          type: number
        majority:
          type: integer
        type_choices:
          $ref: '#/components/schemas/Schedule'
    Schedule:
      type: object
      properties:
        desktop_url:
          type: string
        touch_url:
          type: string
    RoutesList:
      type: object
      properties:
        pagination:
          $ref: '#/components/schemas/Pagination'
        interval_segments:
          type: array
          items:
            $ref: '#/components/schemas/IntervalSegments'
        segments:
          type: array
          items:
            $ref: '#/components/schemas/Segment'
        search:
          $ref: '#/components/schemas/Search'
    IntervalSegments:
      type: object
      properties:
        from:
          $ref: '#/components/schemas/StationSearch'
        thread:
          $ref: '#/components/schemas/Thread'
        departure_platform:
          type: string
        stops:
          type: string
        departure_terminal:
          type: string
        to:
          $ref: '#/components/schemas/StationSearch'
        has_transfers:
          type: boolean
        tickets_info:
          $ref: '#/components/schemas/TicketsInfo'
        duration:
          type: integer
        arrival_terminal:
          type: string
        start_date:
          type: string
        arrival_platform:
          type: string
    Search:
      type: object
      properties:
        date:
          type: string
        to:
          $ref: '#/components/schemas/Place'
        from:
          $ref: '#/components/schemas/Place'
    Place:
      type: object
      properties:
        code:
          type: string
        type:
          type: string
        popular_title:
          type: string
        short_title:
          type: string
        title:
          type: string
    StationsList:
      type: object
      properties:
        countries:
          type: array
          items:
            $ref: '#/components/schemas/Country'
    Country:
      type: object
      properties:
        regions:
          type: array
          items:
            $ref: '#/components/schemas/Region'
        codes:
          $ref: '#/components/schemas/StationListCodes'
        title:
          type: string
    Region:
      type: object
      properties:
        settlements:
          type: array
          items:
            $ref: '#/components/schemas/Settlements'
        codes:
          $ref: '#/components/schemas/StationListCodes'
        title:
          type: string
    Settlements:
      type: object
      properties:
        title:
          type: string
        codes:
          $ref: '#/components/schemas/StationListCodes'
        stations:
          type: array
          items:
            $ref: '#/components/schemas/SettlementsStation'
    SettlementsStation:
      type: object
      properties:
        direction:
          type: string
        codes:
          $ref: '#/components/schemas/StationListCodes'
        station_type:
          type: string
        title:
          type: string
        longitude:
          oneOf:
            - type: number
            - type: string
          nullable: true
        transport_type:
          type: string
        latitude:
          oneOf:
            - type: number
            - type: string
          nullable: true
    StationListCodes:
      type: object
      properties:
        esr_code:
          type: string
          nullable: true
        yandex_code:
          type: string
          nullable: true
    StationSearch:
      type: object
      properties:
        code:
          type: string
        title:
          type: string
        station_type:
          type: string
          enum:
            - station
            - platform
            - stop
            - checkpoint
            - post
            - crossing
            - overtaking_point
            - train_station
            - airport
            - bus_station
            - bus_stop
            - unknown
            - port
            - port_point
            - wharf
            - river_port
            - marine_station
        station_type_name:
          type: string
        popular_title:
          type: string
        short_title:
          type: string
        transport_type:
          type: string
          enum:
            - plane
            - train
            - suburban
            - bus
            - water
            - helicopter
        type:
          type: string
    ScheduleStation:
      type: object
      properties:
        date:
          type: string
        pagination:
          $ref: '#/components/schemas/Pagination'
        station:
          $ref: '#/components/schemas/StationSchuedel'
        schedule:
          type: array
          items:
            $ref: '#/components/schemas/SchuedelItem'
        schedule_direction:
            $ref: '#/components/schemas/SchuedelDirection'
        directions:
          type: array
          items:
            $ref: '#/components/schemas/SchuedelDirection'
    StationSchuedel:
      type: object
      properties:
        code:
          type: string
        station_type:
          type: string
          enum:
            - station
            - platform
            - stop
            - checkpoint
            - post
            - crossing
            - overtaking_point
            - train_station
            - airport
            - bus_station
            - bus_stop
            - unknown
            - port
            - port_point
            - wharf
            - river_port
            - marine_station
        station_type_name:
          type: string
        title:
          type: string
        popular_title:
          type: string
        short_title:
          type: string
        codes:
          $ref: '#/components/schemas/StationSchuedelCodes'
        transport_type:
          type: string
          enum:
            - plane
            - train
            - suburban
            - bus
            - water
            - helicopter
        type:
          type: string
    StationSchuedelCodes:
      type: object
      properties:
        yandex:
          type: string
        esr:
          type: string
    TicketsInfo:
      type: object
      properties:
        et_marker:
          type: boolean
        places:
          type: array
          items:
            $ref: '#/components/schemas/Places'
    Places:
      type: object
      properties:
        currency:
          type: string
        price:
          $ref: '#/components/schemas/Price'
        name:
          type: string
    Price:
      type: object
      properties:
        cents:
          type: number
        whole:
          type: number
    SchuedelItem:
      type: object
      properties:
        except_days:
          type: string
        arrival:
          type: string
        thread:
          $ref: '#/components/schemas/SchuedelThread'
        is_fuzzy:
          type: boolean
        days:
          type: string
        stops:
          type: string
        departure:
          type: string
        terminal:
          type: string
        platform:
          type: string
    Thread:
      type: object
      properties:
        uid:
          type: string
        title:
          type: string
        interval:
          $ref: '#/components/schemas/Interval'
        number:
          type: string
        short_title:
          type: string
        thread_method_link:
          type: string
        carrier:
          $ref: '#/components/schemas/CarriersItems'
        transport_type:
          type: string
          enum:
            - plane
            - train
            - suburban
            - bus
            - water
            - helicopter
        vehicle:
          type: string
        transport_subtype:
          $ref: '#/components/schemas/TransportSubtype'
        express_type:
          type: string
    ThreadList:
      type: object
      properties:
        except_days:
          type: string
        arrival_date:
          type: string
        from:
          type: string
        uid:
          type: string
        title:
          type: string
        interval:
          $ref: '#/components/schemas/Interval'
        departure_date:
          type: string
        start_time:
          type: string
        number:
          type: string
        short_title:
          type: string
        days:
          type: string
        to:
          type: string
        carrier:
          $ref: '#/components/schemas/CarriersThread'
        transport_type:
          type: string
          enum:
            - plane
            - train
            - suburban
            - bus
            - water
            - helicopter
        stops:
          type: array
          items:
            $ref: '#/components/schemas/Stop'
        vehicle:
          type: string
        start_date:
          type: string
        transport_subtype:
          $ref: '#/components/schemas/TransportSubtype'
        express_type:
          type: string
    CarriersThread:
      type: object
      properties:
        code:
          type: number
        codes:
          $ref: '#/components/schemas/CarrierCodes'
        title:
          type: string
    Stop:
      type: object
      properties:
        arrival:
          type: string
        departure:
          type: string
        duration:
          type: number
        stop_time:
          type: number
        station:
          $ref: '#/components/schemas/StationStop'
        terminal:
          type: string
        platform:
          type: string
    StationStop:
      type: object
      properties:
        codes:
          $ref: '#/components/schemas/StationStopCodes'
        title:
          type: string
        station_type:
          type: string
          enum:
            - station
            - platform
            - stop
            - checkpoint
            - post
            - crossing
            - overtaking_point
            - train_station
            - airport
            - bus_station
            - bus_stop
            - unknown
            - port
            - port_point
            - wharf
            - river_port
            - marine_station
        station_type_name:
          type: string
        popular_title:
          type: string
        short_title:
          type: string
        code:
          type: string
        type:
          type: string
    StationStopCodes:
      type: object
      properties:
        express:
          type: string
        yandex:
          type: string
        esr:
          type: string
    Interval:
      type: object
      properties:
        density:
          type: string
        end_time:
          type: string
        begin_time:
          type: string
    Segment:
      type: object
      properties:
        arrival:
          type: string
        from:
          $ref: '#/components/schemas/StationSearch'
        thread:
          $ref: '#/components/schemas/Thread'
        departure_platform:
          type: string
        departure:
          type: string
        stops:
          type: string
        departure_terminal:
          type: string
        to:
          $ref: '#/components/schemas/StationSearch'
        has_transfers:
          type: boolean
        tickets_info:
          $ref: '#/components/schemas/TicketsInfo'
        duration:
          type: integer
        arrival_terminal:
          type: string
        start_date:
          type: string
        arrival_platform:
          type: string
    SchuedelThread:
      type: object
      properties:
        uid:
          type: string
        title:
          type: string
        number:
          type: string
        short_title:
          type: string
        carrier:
          $ref: '#/components/schemas/CarriersItems'
        transport_type:
          type: string
          enum:
            - plane
            - train
            - suburban
            - bus
            - water
            - helicopter
        vehicle:
          type: string
        transport_subtype:
          $ref: '#/components/schemas/TransportSubtype'
        express_type:
          type: string
    TransportSubtype:
      type: object
      properties:
        color:
          type: string
        code:
          type: string
        title:
          type: string
    SchuedelDirection:
      type: object
      properties:
        code:
          type: string
        title:
          type: string
    Settlement:
      type: object
      properties:
        distance:
          type: number
        code:
          type: string
        title:
          type: string
        popular_title:
          type: string
        short_title:
          type: string
        lat:
          type: number
        lng:
          type: number
        type:
          type: string
          enum:
            - station
            - settlement
    Carriers:
      type: object
      properties:
        carrier:
          $ref: '#/components/schemas/CarriersItems'
        carriers:
          type: array
          items:
            $ref: '#/components/schemas/CarriersItems'
    CarriersItems:
      type: object
      properties:
        code:
          type: integer
        contacts:
          type: string
        url:
          type: string
        logo_svg:
          type: string
        title:
          type: string
        phone:
          type: string
        codes:
          $ref: '#/components/schemas/CarrierCodes'
        address:
          type: string
        logo:
          type: string
        email:
          type: string
    CarrierCodes:
      type: object
      properties:
        icao:
          type: string
        sirena:
          type: string
        iata:
          type: string
    Copyright:
      type: object
      properties:
        copyright:
          $ref: '#/components/schemas/CopyrightItems'
    CopyrightItems:
      type: object
      properties:
        logo_vm:
          type: string
        url:
          type: string
        logo_vd:
          type: string
        logo_hy:
          type: string
        logo_hd:
          type: string
        logo_vy:
          type: string
        logo_hm:
          type: string
        text:
          type: string

